.topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #021B79;
    width: 100%;
    height: 93px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.icon {
    height: 22px;
    width: 22px;
}
